body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    font-family: Arial, Verdana, sans-serif;
    margin-top: 1.5em;
}
h1 {
    font-size: 32px;
}
table, th, tr, td {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
    text-align: left;
}
figure {
    float: right;
}